@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #EFFFFA;
    --secondary-color: #E5ECF4;
    --accent1-color: #C3BEF7;
    --accent2-color: #8A4FFF;
    --heading-font: "Josefin Sans";
    --paragraph-font: "Oswald", Helvetica, sans-serif;
    --headline-color-on-white: #8A4FFF;
    --headline-color-on-color: #EFFFFA;
    --paragraph-color-on-white: #8A4FFF;
    --paragraph-color-on-color: #EFFFFA;
    --paragraph-background-color: #8A4FFF;
    --nav-link-color: #EFFFFA;
    --nav-background-color: #8A4FFF;
    --nav-hover-link-color: #EFFFFA;
    --nav-hover-background-color: #E5ECF4;
}

nav {
    display: flex;
    background-color: #EFFFFA;
    color: white;
    font-size: 25px;
    align-items: center;
    font-family: var(--heading-font);
    justify-content: space-between;
}

nav a:hover {
    color: #8A4FFF;
}

.logo {
    height: 100px;
    width: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.heading {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    padding-top: 30px;
    padding-bottom: 60px;
}

.image-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    gap: 15px;
}

.grid-item {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.text {
    font-family: var(--paragraph-font);
    color: var(--headline-color-on-white);
    max-width: 350px;
}

footer {
    background-color: #EFFFFA;
    color: #8A4FFF;
    padding: 25px 50px;
    font-size: 20px;
    display: flex;
    font-family: var(--paragraph-font);
    justify-content: space-between;
}

footer a {
    color: #8A4FFF;
}

footer a:hover {
    color: #EFFFFA;
}
